.add-company{
    -fx-padding: 0 10;
}

.add-company .report-table .column-header,
.add-company .report-table .column-header .filler,
.add-company .report-table .column-header-background .filler {
    -fx-background-color: #34495e;
    -fx-padding: 5;
    -fx-pref-height: 70px;
}

.add-company .report-table  .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-min-height: 100px;
    -fx-alignment:  baseline-right;
}

.add-company .report-table .column-header#name-column .label {
    -fx-alignment:  baseline-left;
}


.add-company .report-table .period-col {
  -fx-alignment: CENTER-RIGHT;
}

.add-company .table-name{
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-padding: 10px 0 5px 0;
    -fx-font-weight: bold;
}

.add-company .chart-title {
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-padding: 10px 0 5px 0;
}

.add-company .tab-pane .tab{
    -fx-pref-height: 40px;
    -fx-max-width: 250px;
}

.add-company .tab-pane .tab .tab-label{
    -fx-pref-height: 40px;
    -fx-max-width: 250px;
}

.add-company  .tab-pane {
  -fx-tab-min-height:40px;
  -fx-tab-max-height:40px;
}

.add-company .main-label{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.add-company .sub-label{
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 5px 0;
    -fx-pref-width: 200px;
}

.add-company .date-label{
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 5px 0;
}

.add-company .hbox-row{
    -fx-padding: 10px;
    -fx-border-style: solid outside;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-border-color: #e4e5e7;
    -fx-background-color:  #f4f7f7;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.add-company .inner-container{
    -fx-padding: 10px 30px;
    -fx-border-style: solid outside;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-border-radius: 2;
    -fx-border-color: #e4e5e7;
    -fx-background-color: #fff;
}

.add-company .blue-btn{
    -fx-background-color:#3f5872;
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 7 20 7 20;
    -fx-cursor: hand;
    -fx-alignment:  baseline-left;
}

.add-company .hbox-row-btn{
    -fx-padding: 20px;
    -fx-border-style: solid outside;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-border-color: #e4e5e7;
    -fx-background-color:  #f4f7f7;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-cursor: hand;
}

.add-company .settings-error{
    -fx-text-fill: #FF0000;
    -fx-font-size: 13px;
}

.add-company .combo-box-base,
.add-company .combo-box-base .list-view{
    -fx-min-width: 150px;
}

.add-company  .combo-box-popup > .list-view {
    -fx-min-width: 150;
}

.add-company .scale-table .column-header .label {
    -fx-alignment: CENTER;
}

.scale-table{
    -fx-max-height: 300px;
}

.scale-table .table-cell {
    -fx-alignment: center;
}

.report-input .report-cell {
     -fx-padding: 2px;
}

.report-input .report-number-cell{
     -fx-padding: 0px;
}

.report-input .report-number-cell .num-field{
    -fx-text-box-border: transparent;
}

.report-input .templates-row-level-1 .report-cell{
    -fx-padding: 2px 2px 2px 80px;
    -fx-font-weight: bold;
}

.report-input .templates-row-level-2 .report-cell{
    -fx-padding: 2px 2px 2px 60px;
    -fx-font-weight: bold;
}

.report-input .templates-row-level-3 .report-cell{
    -fx-padding: 2px 2px 2px 40px;
    -fx-font-weight: bold;
}

.report-input .templates-row-level-4 .report-cell{
    -fx-padding: 2px 2px 2px 2px;
}

.report-input .templates-row-level-5 .report-cell{
    -fx-padding: 2px 2px 2px 20px;
    -fx-font-style: italic;
}

.add-company .confirm{
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.docx-saved-label{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 7px 0;
    -fx-text-fill: #F92222;
}

.num-err{
    -fx-text-fill: #F92222;
    -fx-background-color:  #ffffff;
}


.num-err:focused {
    -fx-background-color: #ffffff;
    -fx-text-fill: #F92222;
     -fx-focus-color:#ffffff;
}