.formula-edit .formula-btn{
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5px;
    -fx-alignment:  baseline-left;
    -fx-background-radius: 5em;
}

.industryDialog .popup-btn{
    -fx-background-color:#3f5872;
    -fx-font-size: 12px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5 13 5 13;
    -fx-alignment:  baseline-left;
}

.formula-edit .industry-btn{
    -fx-background-color: grey;
    -fx-font-size: 9px;
    -fx-text-fill: #E6E6FA;
    -fx-padding: 3px 10px;
    -fx-alignment: baseline-left;
    -fx-background-radius: 2px;
}

.formula-edit .normative-container{
    -fx-padding: 5;
    -fx-border-style: solid outside;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-border-color: #DDDDDD;
    -fx-pref-width: 350px;
    -fx-background-color: #E6E6FA;
}

.formula-edit .normative-add-btn{
    -fx-background-color: #AAD3E6;
    -fx-border-color: #898989;
    -fx-border-radius: 2;
}

.formula-edit .normative-remove-btn{
    -fx-background-color: #A2CBDF;
    -fx-font-size: 0px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 4px;
    -fx-alignment:  baseline-left;
    -fx-background-radius: 5em;
}


.formula-edit .error{
    -fx-text-fill: #FF0000;
    -fx-font-size: 11px;
}

.formula-edit .industry-box{
    -fx-alignment: baseline-center;
}

.combo-box {
    -fx-pref-width: 100;
}

/** Size the combo-box drop down list. */
.combo-box-popup > .list-view {
    -fx-pref-width: 100;
}

.popup-tab-inner{
    -fx-border-style: solid outside;
    -fx-border-width: 1;
    -fx-border-color: #DDDDDD;
    -fx-padding: 10;
}

.popup-tab-outer{
    -fx-padding: 10 1;
    -fx-pref-width: 550px;
}

.popup-tab-outer .report-text-small{
    -fx-alignment:  baseline-left;
    -fx-font-size: 13px;
    -fx-line-spacing: 5px;
}

.industry-select{
    -fx-min-width: 200px;
}

.combo-box-popup > .list-view {
    -fx-min-width: 200;
}