.header{
    -fx-padding: 20 25;
    -fx-background-color: #324A5E;
}

.footer{
    -fx-padding:15;
    -fx-background-color: #324A5E;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
}

.header .headerText{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-family: Arial, sans-serif;
    -fx-font-weight: bold;
}

.tile-btn{
    -fx-border: 0;
    -fx-background-color: transparent;
    -fx-padding: 15;
    -fx-font-family: Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #6a6c6f;
}

.content-block{
    -fx-max-width: 260px;
    -fx-max-height: 170px;
    -fx-pref-width:260px;
    -fx-pref-height:170px;
    -fx-padding: 15;
    -fx-border-style: solid outside;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-border-color: #e4e5e7;
    -fx-background-color: #fff;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-alignment: center ;
}

.content-block .blockText{
    -fx-text-fill: #122538;
    -fx-font-size: 13px;
    -fx-alignment: center;
    -fx-padding: 15 10 10 10;
}