.template-screen .tree-table-cell {
    -fx-border-color: #e4e5e7;
    -fx-border-style: solid;
}

.template-screen .tree-table-view .column-header,
.template-screen .tree-table-view .column-header .filler,
.template-screen .tree-table-view .column-header-background .filler {
    -fx-background-color: #34495e;
    -fx-padding: 15;
}

.template-screen .report-tabs .tree-table-view .column-header,
.template-screen .report-tabs .tree-table-view .column-header .filler,
.template-screen .report-tabs .tree-table-view .column-header-background .filler {
    -fx-background-color: #34495e;
    -fx-padding: 5;
    -fx-pref-height: 50px;
}



.template-screen .tree-table-view  .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-size: 13px;
    -fx-font-weight: normal;
    -fx-pref-height: 20px;
}

.template-screen .tab-pane .tab{
    -fx-pref-height: 40px;
}

.template-screen .tab-pane .tab .tab-label{
-fx-pref-height: 40px;
}


.template-screen .tab-pane {
  -fx-tab-min-height:40px;
  -fx-tab-max-height:40px;
}

.template-screen .whiteBorderedPanel{
    -fx-padding: 15;
    -fx-border-style: solid outside;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-border-radius: 2;
    -fx-border-color: #e4e5e7;
    -fx-background-color: #fff;
}

.template-screen .whiteBorderedPanelMenu{
    -fx-padding: 5;
    -fx-border-style: solid outside;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-border-radius: 2;
    -fx-border-color: #e4e5e7;
    -fx-background-color: #fff;
}

.template-screen .blue-btn{
    -fx-background-color:#3f5872;
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5 10 5 10;
    -fx-alignment:  baseline-left;
}

.template-screen .sidebar-blue-btn{
    -fx-background-color:#3f5872;
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10 25 10 25;
    -fx-pref-width: 150px;
    -fx-alignment:  baseline-left;
}

.template-screen .img-btn{
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5px;
    -fx-alignment:  baseline-left;
    -fx-background-radius: 5em;
}