.templates-listing .tab-pane .tab-header-area .tab-header-background {
   -fx-background-color: #122538;
}

.templates-listing .tab-pane > .tab-header-area > .headers-region{
    -fx-border-style: solid outside;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-border-color: #e4e5e7;
}

.templates-listing .tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.templates-listing .tab-pane .tab{
    -fx-background-color: #FFF;
    -fx-padding: 5px 15px;
    -fx-border-width: 0 0 2 0;
    -fx-border-color:#122538;

}

.templates-listing .tab-pane .tab:selected{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #FFF;
}


.templates-listing .tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #6a6c6f;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.templates-listing .tab-pane .tab:selected .tab-label {
    -fx-text-fill: #34495e;
}

.templates-listing .settingsMessage, .addTemplate{
    -fx-padding: 15;
    -fx-border-style: solid outside;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-border-radius: 2;
    -fx-border-color: #e4e5e7;
    -fx-background-color: #fff;
     -fx-text-fill: #6a6c6f;
}

.templates-listing .addTemplate .add-template-btn{
    -fx-background-color: #74d348;
    -fx-font-size: 13px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10 25 10 25;
     -fx-cursor: hand;
}

.templates-listing .addTemplate .add-template-text{
    -fx-padding: 10 25 10 25;
}

.templates-listing .row{
    -fx-padding: 10;
    -fx-border-style: solid outside;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-border-radius: 2;
    -fx-border-color: #ccd1d1;
    -fx-background-color: #fff;
    -fx-pref-width: 200px;
    -fx-max-width:200px;
    -fx-max-height: 300px;

}

.templates-listing .row .btn-panel{
    -fx-alignment: center;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
    -fx-cursor: hand;
}

.templates-listing .row .btn-panel .btn{
    -fx-background-color:#3f5872;
    -fx-font-size: 12px;
    -fx-text-fill: #FFFFFF;
    -fx-padding:10;
    -fx-alignment:  baseline-left;
    -fx-background-radius: 5em;
    -fx-cursor: hand;
}

.templates-listing .row .row-label{
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-text-fill: #6a6c6f;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-wrap-text: true;
}

.templates-listing .row .row-desc{
    -fx-font-size: 14px;
    -fx-padding: 10 10 20 10;
    -fx-text-fill: #6a6c6f;
    -fx-pref-width: 200px;
    -fx-alignment: center;
}

.templates-listing .whiteBorderedPanel{
    -fx-padding: 15;
    -fx-border-style: solid outside;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-border-radius: 2;
    -fx-border-color: #e4e5e7;
    -fx-background-color: #fff;
}

.templates-listing .blue-btn{
    -fx-background-color:#3f5872;
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5 10 5 10;
    -fx-cursor: hand;
    -fx-alignment:  baseline-left;
}